<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandaer.project.server.modules.product.mapper.ProductBrandMapper">

    <resultMap id="BaseResultMap" type="com.pandaer.project.server.modules.product.entity.ProductBrand">
            <id property="brandId" column="brand_id" jdbcType="BIGINT"/>
            <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
            <result property="brandLogoUrl" column="brand_logo_url" jdbcType="VARCHAR"/>
            <result property="isEnable" column="is_enable" jdbcType="TINYINT"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        brand_id,brand_name,brand_logo_url,
        is_enable,is_delete,create_user,
        update_user,create_time,update_time
    </sql>
</mapper>
